<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
    <h2>Пройденные опросы:</h2>
        <table width="700px">
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Действие</th>
            </tr>
            <tr th:each="survey: ${surveys}">
                <td th:text="${survey.name}"></td>
                <td th:text="${survey.description}"></td>
                <td th:text="${survey.start}"></td>
                <td th:text="${survey.finish}"></td>
                <td>
                    <form action="/user/myAnswers" method="get">
                        <input th:type="hidden" th:name="user_id" th:value="${user_id}"/>
                        <input th:type="hidden" th:name="survey_id" th:value="${survey.id}"/>
                        <input type="submit" value="ответы"/>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <form action="/user" method="get">
            <input th:type="hidden" th:name="user_id" th:value="${user_id}"/>
            <input type="submit" value="на главную"/>
        </form>
    </div>
</body>
</html>